//Colors
$background-color: #FFFFFF;

$primary-color: #5DFED6;
$hover-color: #45E6BF;

$background-grey-color: #F8F8F8;
$light-grey-color: #E5E5E5;
$grey-color: #C4C4C4;
$dark-grey-color: #343434;
$grey-scale-color: #1E1E1E;

$opacity-black: rgba(0, 0, 0, .8);

//Breakpoints
$mini-breakpoint: 390px;
$micro-breakpoint: 320px;

//Fonts
$font-size-extra-max: 6.4rem;
$font-size-max: 5.6rem;
$font-size-extra-large: 3.6rem;
$font-size-large: 3.2rem;
$font-size-extra-medium: 2.4rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.8rem;
$font-size-mini: 1.6rem;
$font-size-ex-tiny: 1.5rem;
$font-size-tiny: 1.4rem;
$font-size-micro: 12px;
$font-size-nano: 10px;

$bodoni72: '../assets/fonts/Bodoni72C Italic.otf';
