@import '../../sass/variables.scss';



.slogan {
  max-width: 536px;

  &__title {
    font-size: $font-size-large;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.015em;
    min-height: 144px;

    &--display-block {
      display: block;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    &--text-style {
      text-decoration: line-through;
    }

    &--text-italic {
      font-style: italic;
    }
  }


  &__sub-title {
    margin-bottom: 80px;

    &__text-content {
      font-size: $font-size-small;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 536px;


      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  @media (min-width: $medium-breakpoint) {
    &__title {
      font-size: $font-size-extra-large;
    }
  }
}
