@import '../../../sass/variables.scss';

.link {
  display: flex;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $font-size-mini;
  text-decoration: none;
  letter-spacing: -0.015em;
  line-height: 19px;

  transition: text-decoration .3s;

  text-transform: capitalize;

  &:hover {
    cursor: default;
    text-decoration: underline;
  }
}
