@import '../../../sass/variables.scss';

.link {
  display: flex;

  font-family: 'Roboto', sans-serif;
  font-size: $font-size-mini;
  letter-spacing: -0.015em;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
  text-transform: capitalize;


  transition: text-decoration-color 1s;

  &:hover {
    cursor: default;

    text-decoration-color: rgba(255, 255, 255, .8);

  }

}
