@import '../../../sass/variables.scss';

.modal-container {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;


  height: 100vh;
  width: 100vw;

  background: $modal-background;
  animation: showModal .3s linear forwards;


  &__box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;

    width: 330px;
    height: 156px;

    border-radius: 4px;
    background: $background-color;

    box-shadow: 0px 3px 15px $modal-box-shadow;

    animation: showModal .3s linear forwards;

    &__head {
      width: 100%;
      height: 24px;

      display: flex;
      justify-content: flex-end;
    }

    &__close {
      width: 24px;
      height: 24px;

      &:hover {
        cursor: pointer;
      }
    }

    &__content {
      display: block;
      padding: 10px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: $font-size-extra-medium;
      line-height: 32px;
      /* or 133% */

      letter-spacing: -0.015em;

      color: #000000;
    }

    @media (min-width: 1080px) {
      width: 382px;
      min-height: 115px;
      height: auto;

      &__content {
        line-height: 23px;
      }
    }
  }
}

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
