@import '../../../sass/variables.scss';

.button-access {
  width: 132px;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 24px;

  border: 1px solid $grey-color;
  border-radius: 4px;

  background: none;

  &__text {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-tiny;
    font-weight: 500;
    line-height: 150%;
    color: $dark-grey-color;
  }

  &__arrow-image {
    width: 24px;
    height: 24px;

    -webkit-animation: translate-back-image .3s linear;
    animation: translate-back-image .3s linear;
  }

  transition: border-color .3s;

  &:hover {
    border-color: $dark-grey-color;

    .button-access__arrow-image {
      -webkit-animation: translate-image .3s linear forwards;
      animation: translate-image .3s linear forwards;
    }
  }
}

@keyframes translate-image {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@-webkit-keyframes translate-image {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}


@keyframes translate-back-image {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes translate-back-image {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
