@import '../../../sass/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 43.56px;

  margin-top: 42px;
  padding-top: 0;
  z-index: 20;

  &__sp-labs {
    display: block;
    height: 46px;
    width: 63px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: $font-size-medium;
    line-height: 23px;
    letter-spacing: -0.015em;

    color: $background-color;
  }


  &__navigation {

    display: flex;
    gap: 32px;

    .nav__link--color-white {
      color: $background-color;
    }

  }
}
