@import '../../../sass/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 43.56px;
  width: 100%;

  position: absolute;
  top: 42px;

  z-index: 2;

  &__sp-labs {
    &--color {
      color: $background-color;
    }

  }

  &__navigation {

    display: flex;
    gap: 32px;

    .nav__link {
      &--color-white {
        color: $background-color;
      }

      &--text-style {
        font-weight: 500;
        line-height: 19px;
      }

    }

  }
}
