@import '../../../sass/variables.scss';

.container {
  width: 100vw;
  min-height: 100vh;

  background: $background-color;
}


.container--responsive {
  @media (min-width: 391px) {
    padding: 80px 7.8125%;
  }

  @media (max-width: 390px) {
    padding: 80px 7.692308%;
  }
}
