@import '../../../sass/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 62px;

  max-height: 616px;


  &__information {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;

    max-height: 306px;
    width: 100%;

    &__sp-labs--align {
      text-align: left;
    }

  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    text-align: center;

  }

  .links {
    &__items {
      text-align: center;

      &__text {
        display: block;

        margin-bottom: 13px;

        font-weight: 700;
        font-size: $font-size-mini;
        line-height: 24px;
        text-transform: capitalize;
      }

      &__link {
        justify-content: center;

        &--text-style {
          font-weight: 400;
          line-height: 24px;

          color: $dark-grey-color;

          &:hover {
            text-decoration-color: $dark-grey-color;
          }
        }
      }

      &__list {
        list-style: none;
      }
    }
  }

  .border {
    border: 1px solid $primary-color;
    border-radius: 4px;
    height: 2px;
    width: 100%;
  }

  &__author {
    font-family: 'Montserrat';
    font-size: $font-size-ex-tiny;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: center;
    color: $dark-grey-color;

    min-width: 301px;

  }


  @media(min-width: 768px) {
    height: 422px;
    align-items: none;

    &__information {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      height: 112px;

    }

    &__links {
      display: flex;
      flex-direction: row;
      width: 432px;
      text-align: left;

    }

    .links {
      &__items {
        text-align: left;
        width: 200px;

        &__link {
          justify-content: flex-start;
        }
      }
    }

  }
}
