@import '../../../sass/variables.scss';

.hero-section {
  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 156px;

  width: 100vw;
  height: 100vh;

  font-family: 'Roboto';
  color: $background-color;

  &__hero {
    z-index: 2;
    display: none;
    flex-direction: column;
    gap: 16px;

    max-width: 640px;

    .hero__title {
      font-size: $font-size-max;
      font-weight: 700;
      line-height: 72px;
      max-height: 284px;
      align-self: stretch;

      &::first-letter {
        text-transform: capitalize;
      }

      &--font-style {
        font-family: bodoni72;
        font-weight: 400;
        font-size: 7.3rem;
        line-height: 72px;
        letter-spacing: -1.5%;
      }
    }

    .hero__subtitle {
      font-family: 'Roboto';
      font-weight: 600;
      font-size: $font-size-small;
      line-height: 30px;
      align-self: stretch;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }


  &__bg {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    &::before {
      content: '';
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background: url(../../../assets/image/background-image.jpg) no-repeat center center;
      background-size: cover;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      background: $grey-scale-color;
      mix-blend-mode: color;

    }

    &::after {
      content: '';
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background: $grey-scale-color;
      mix-blend-mode: color;
    }


    &__effect {
      display: none;
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;
      background: $grey-scale-color;

      &--blend-effect-color {
        z-index: 3;
        mix-blend-mode: color;
      }

      &--blend-effect-normal {
        z-index: 2;
        mix-blend-mode: normal;
      }
    }
  }

  @media (min-width: 1080px) {
    gap: 200px;

    &__hero {
      .hero__title {
        font-size: $font-size-extra-max;
        height: 140px;

        .hero__title--font-style {
          font-size: 7.9rem;
        }
      }
    }
  }
}
