@import '../../../sass/variables.scss';

.hero-section {
  padding-top: 0;
  padding-bottom: 0;

  width: 100vw;
  height: 100vh;

  font-family: 'Roboto';
  color: $background-color;

  position: relative;

  &__hero {
    position: absolute;
    top: 244px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 640px;
    width: 84.616%;

    .hero__title {
      font-size: $font-size-max;
      font-weight: 700;
      line-height: 72px;
      max-height: 284px;
      align-self: stretch;

      &::first-letter {
        text-transform: capitalize;
      }

      &--font-style {
        font-family: bodoni72;
        font-weight: 400;
        font-size: 7.3rem;
        line-height: 72px;
        letter-spacing: -0.015em;
      }
    }

    .hero__subtitle {
      font-family: 'Roboto';
      font-weight: 600;
      font-size: $font-size-small;
      line-height: 30px;
      align-self: stretch;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }


  &__bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../assets/image/background-image.jpg) no-repeat center center;
    background-size: cover;

    &::before {
      content: '';
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background: $grey-scale-color;
      mix-blend-mode: color;
    }

    &::after {
      content: '';
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background: rgba(30, 30, 30, .5);
    }
  }

  @media (min-width: $medium-breakpoint) {
    gap: 200px;

    &__hero {
      top: 288px;

      .hero__title {
        font-size: $font-size-extra-max;
        height: 140px;

        .hero__title--font-style {
          font-size: 7.9rem;
        }
      }
    }
  }
}
